/*CSS for rucklehouse.github.io*/
/* green: #00c800
	purple: #7d0096
	yellow: #e1e100
	black: #000000*/

::-webkit-scrollbar {
	display: none;
}

body {
	background-image: url("/assets/bgp-argyle.png");
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

.content {
	background: rgba(255,255,255,0.75);
	border: 5px solid #7D0096;
	border-radius: 20px;
	width: 600px;
	height: auto;
	margin: auto;
	padding: 10% auto;
	text-align: center;
	vertical-align: center;
	color: #000000;
}

#home {
	margin: 10% auto;
}

blockquote {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-style: italic;
}

h1, h2, h3 {
	margin-bottom: 0px;
	color: #7D0096;
}

h4 {
	margin-bottom: 0px;
	color: #7D0096;
	text-transform: uppercase;
}

.inner-content {
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

#projects > p {
	font-weight: bold;
}

#projects > p > a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

#projects > p > a:hover {
	color: #7D0096;
}

#civil, #web {
	margin:0px;
	height: 100px;
}

#resume h5 {
	display: inline;
}

#resume h5 a:link,a:visited {
	color: #000000;
}

#resume h5 a:hover {
	color: #7D0096;
}

#resume p {
	padding-left: 20px;
	margin-bottom: 0px;
	margin-top: 2px;
	font-size: 0.9em;
}

#resume ul {
	margin-top: 0px;
	padding-left: 40px;
	font-size: 0.9em;
}

#home #quote {
	margin-bottom: 20px;
}

.navbar {
	text-transform: uppercase;
	font-weight: bold;
}

.navbar a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

.navbar a:hover {
	color: #7D0096;
}

#twitter {
	height: 16px;
	width: 20px;
}

hr {
	width: 95%;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.bold_italic {
	font-weight: bold;
	font-style: italic;
}

@media (max-width: 620px) {
	.content {
		width: auto;
		height: auto;
	}
}
