/*CSS for rucklehouse.github.io*/
body {
    background-color: #C0E5E4
    font-family: Verdana, Arial, sans-serif;
}

.header {
    height: 75px;
    width: 100%;
    margin-top: -20px;
    background-color: #196966;
    padding-top: 10px;
    text-align: center;
    font-style: oblique;
    font-size: 1em;
    color: #FFFFFF;
}

.navbar {
    height: 50px;
    margin-top: -20px;
    width: 100%;
    background-color: #45B3AF;
}

.navbar ul {
    margin-left: 30%;
}

.navbar li {
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    color: #FFFFFF;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    font-weight: bold;
}

#resume h4 {
    text-transform: uppercase;
}

#resume p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#resume ul {
    padding-top: 0px;
    margin-top: 0px;
}

.bold {
    font-weight: bold;
}

.bold_italic {
    font-weight: bold;
    font-style: italic;
}